.controls-group{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    position: relative;
    top:20px;
}

.fas{
   color: rgb(179, 175, 175);
   cursor: pointer;
}

.fas:hover{
  color: rgb(121, 117, 117);
}