.controls-group{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    position: relative;
    top:50px;
}

button{
  background: transparent;
  border: none;
  outline: none;
  color: #d3d7da;
  cursor: pointer;
}

button:hover{
  color: white;
}
