.progress-bar{
    height: 8px;
    margin: 0px 10px;
    background-color: rgba(43, 43, 43, 0.4);
    position: relative;
    top:10px;
    border-radius: 10px;
}

.progress{
    height: 100%;
    width: 0%;
    background: rgba(255, 255, 255);
    border-radius: 10px;
}

.progress-bar:hover{
    transform: scaleY(1.2);
    cursor: pointer;
}