.timeRange-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top:15px;
}

.time-elapsed{
    margin-left: 10px;
    color: #d3d7da;
    font-size: 18px;
}

.duration{
    margin-right: 10px;
    color: #d3d7da;
    font-size: 18px;
}